/* Common shared styles */

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.color-primary {
    color: #FD6E0A
}

.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 25px;
    cursor: pointer;
}

/* Nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 170px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    margin-right: 50px;
    color: #474747;
    font-size: 20px;
}

/* Header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    /* background-size: 50%; */
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin: 8px 0 0;
}

.banner-description {
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    line-height: 30px;
}

.banner-btn2 {
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 35px;
    background: none;
    margin-left: 10px;
    cursor: pointer;
}

/* main related styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section,
footer {
    margin-top: 130px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

/* about section styles */
.about {
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 120px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}
.about-info-container h4{
    margin-bottom: 0;
}

/* What I do section styles */
#what-i-do-description {
    padding: 10px 130px 30px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-description,
.about-info,
.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

/* Resume styles */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

.resume-item-institute,
.resume-item-description {
    color: #757575;
}

.resume-container hr {
    margin: 40px 0 30px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer styles */
footer {
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    gap: 80px;
}

footer h3, p{
    text-align: left!important;
}

.social-links a {
    margin-right: 20px;
}

.footer-column {
    width: 50%;
}

.contact input[type=text],
textarea {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    font-size: 16px;
    border: 5px;
    border: 0;
    background-color: #fff;
    width: 100%;
}

.contact input,
textarea:focus {
    outline: none;
}